@import "~normalize.css";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";

.CodeMirror,
.ReactCodeMirror {
  height: 100%;
  font-family: "Monaco", monospace;
  position: relative;
  overflow-y: auto;
}
